[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask="==1.1.1"
Flask-Bcrypt="==0.7.1"
gunicorn="==19.9.0"
SQLAlchemy="==1.3.5"
PyJWT="==2.4.0"
flask-jwt-extended = "*"
Flask-Cors="==3.0.8"
Flask-Migrate="==2.5.2"
Flask-restplus="==0.13.0"
Flask-Script="==2.0.6"
Flask-SocketIO="==4.1.0"
Flask-SQLAlchemy="==2.4.0"
Flask-Testing="==0.7.1"
alembic="==1.2.1"
python-dotenv = "*"

[requires]
python_version = "3.7"
